.grid-item{
    background-color: rgb(178, 84, 190);
    font-size: 1.5rem;
    border: 2px solid white;
    padding: 20px;
    color: whitesmoke;
}

.grid-item:nth-child(odd) {
    background-color: rgb(124, 134, 190);
}
.grid-container{
    display:grid;
    grid-template-columns: 150px 300px;
    /* grid-template-columns: 1fr 2fr 1fr; */
    /* grid-template-columns: 25% 55% 25%; */
    /* grid-template-rows: 150px; alt alta yapmak icin */
    /* grid-template-columns: repeat(4, 150px);tekrar tekrar yazmamak icin tek seferde ayarla */
    /* grid-template-rows: 150px; */
    /* grid-auto-rows: minmax(300px,auto);yazi cok uzun olursa arta kalan kismi otomatik dolduruyor */
    grid-gap: 10px;

    grid-template-areas:
    "header header"
    "siederbar content1"
    "siedbar content2"
    
    ;
}
    
.grid-item-1{
    /* grid-column-start: 1;
    grid-column-end: 3; */
}
.grid-item-2{
    /* grid-area: siedbar; */
    /* grid-row: 2/4; */
    /* grid-area: row-start / column-start / row-end / column-end; */
    /* grid-area: 2 / 1 /  2 /  2 ; */
    /* grid-area: 2 / 1 / span 2 / span 2 ; */
    justify-content: space-between;
}
.grid-item-3{
    /* grid-area: content2; */
}
.grid-item-4{
    /* grid-area: content1; */
    /* grid-column: span 3; */
}
.grid-item-5{
    /* grid-area: content1; */
    /* grid-column: span 1; */
    /* grid-column:span 2; */
}