*{
    margin: 0;
    padding: 0;
}

#first {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 200px;
    top:200px;
    /* display: inline-block;
    position: relative;
    left: 210px; */
    /* position: relative;
    left: 20px;
    top: 50px */
    /* margin-top: 50px; */
     /* position: absolute;
     right: 0;
     bottom: 0; */

}

/* #container {
    border: 1px solid gray;
    width: 500px;
    height: 500px;
    position: relative;
    left: 100px;
} */

#second {
    background-color: green;
    width: 100px;
    height: 100px;
    /* position: relative;
    bottom:100px; */

}

#third {
    background-color: blue;
    width: 100px;
    height: 100px;
    position: relative;
    left:100px;
    /* position:absolute;
    top: 100px;
    left:100px; */
    /* display: inline-block;
    position: relative;
    right: 100px; */
}