#first-div{
    background-color: chocolate;
    height: 20px;
    width: 500px;
    margin: 2vh auto;
}

#second-div{
    background-color: rgb(48, 30, 210);
    height: 20px;
    max-width: ; 750px;
    min-width: 500px;
    margin: auto;
}
div p {
    background-color: rgba(121, 26, 145, 0.493);
  }